html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ol, ul {
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: normal;
    line-height: normal;
    color: #FFFFFF;
    line-height: 1;
}

section {
    padding-top: 128px;
    padding-bottom: 128px;
}

img{
    max-width: 100%;
    height: auto;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 92px;
    background: #1C1E53;
    opacity: 0.95;
    z-index: 100;
}
.header_wraper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-top: 16px;
    margin-bottom: 16px;
}
.navigation_list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
}
.navigation_item {
    margin-right: 32px;
}
.navigation_item:last-child {
    margin-right: 0;
    margin-left: 48px;
}
.navigation_link {
    font-weight: 500;
    line-height: 28px;
    color: #BBBBCB;
    text-decoration: none;
}
.navigation_link:hover, .header_link:focus {
    color: white;
}
.header_button {
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    color: #BBBBCB;
    text-decoration: none;
    background: transparent;
    padding: 16px 48px;
    border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
}
.header_button:hover, .header_button:focus {
    color: white;
    border-color: white;
}

.footer_content {
    background: #1C1E53;
    padding-top: 96px;
}
.footer_content_wrap {
    display: flex;
    flex-direction: row;
}
.logo_container {
    margin-right: 260px;
}
.logo_subtitle {
    padding-top: 36px;
    font-weight: 500;
    font-size: 16px;
    text-wrap: normal;
    line-height: 28px;
    color: #FFFFFF;
    opacity: 0.8;
}
.lets_talk {
    max-width: 400px;
}
.lets_talk_title {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    color: white;
    margin-bottom: 14px;
}
.lets_talk_desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #F4F6FC;
    opacity: 0.8;
    margin-bottom: 28px;
}
.social_media_icons {
    display: flex;
    flex-direction: row;
    width: 144px;
    height: 16px;
    justify-content: space-between;
}

.contact_info {
    background: #FCD980;
    display: flex;
    flex-direction: row;
    gap: 29px;
    width: 517px;
    padding-left: 37px;
    padding-top: 18px;
    padding-bottom: 16px;
}
.contact_info_title {
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    color: #282938;
}
.contact_info_subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
    opacity: 0.8;
}
.footer_links {
    padding-top: 32px;
    padding-bottom: 32px;
}
.footer_links_wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.copyright_info {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #282938;
}
.footer_navigation_item {
    margin-right: 32px;
}
.navigation_item:last-child {
    margin-right: 0;
}
.footer_navigation_link {
    font-weight: 500;
    line-height: 28px;
    color: #282938;
    text-decoration: none;
}
.footer_navigation_link:hover, .header_link:focus {
    color: #6C6F98;
}